{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 운영하는 경정 홈페이지의 출주표 정보를 조회할 수 있는 공공데이터 API 서비스입니다. 이 서비스는 조회 연도, 회차, 일차 등의 조건을 활용하여 경정 경기에 출전하는 선수, 배정된 번호, 경주 시간 및 장소 등 주요 정보를 제공하며, 경주 전 참가자 분석 및 정보 활용을 위해 다양한 주체가 활용할 수 있습니다. 특히 경정 팬, 언론, 관계자 등에게 실시간 데이터 제공을 통해 정보 접근성을 향상시키고, 투명한 정보 공개 및 스포츠 행정의 효율성 강화에 기여합니다. 향후 데이터 포맷 및 필드가 확장되면 보다 다양한 분석 기반 자료로 활용될 수 있습니다.\\n",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-홈페이지 출주표 정보_GW"
  },
  "host": "apis.data.go.kr/B551014/SRVC_OD_API_VWEB_MBR_RACE_DOC",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_VWEB_MBR_RACE_DOC_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_VWEB_MBR_RACE_DOC_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_VWEB_MBR_RACE_DOC_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정 홈페이지 출주표 정보 서비스",
        "description": "조회년도, 경주구분 등의 조회조건을 이용해 서울올림픽기념국민체육진흥공단 경주사업총괄본부에서 진행하는 경정 선수 회차별 성적 정보를 조회하는 기능",
        "operationId": "TODZ_API_VWEB_MBR_RACE_DOC_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "week_tcnt",
          "description": "등록회차수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "day_tcnt",
          "description": "경기회차수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "organ_stat_cd",
          "description": "편성상태",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_no",
          "description": "경주번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_reg_no",
          "description": "선수번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_ymd",
          "description": "경주일자",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_VWEB_MBR_RACE_DOC_I-item": {
      "type": "object",
      "properties": {
        "organ_stat_cd": {
          "type": "string",
          "description": "편성상태"
        },
        "race_no": {
          "type": "string",
          "description": "경주번호"
        },
        "race_reg_no": {
          "type": "string",
          "description": "선수번호"
        },
        "race_ymd": {
          "type": "string",
          "description": "경주일자"
        },
        "color_nm": {
          "type": "string",
          "description": "색상명"
        },
        "racer_perio_no": {
          "type": "string",
          "description": "기수번호"
        },
        "racer_no": {
          "type": "string",
          "description": "선수번호"
        },
        "avg_rank": {
          "type": "number",
          "description": "평균착순위"
        },
        "avg_acdnt_scr": {
          "type": "number",
          "description": "평균사고점수"
        },
        "avg_scr": {
          "type": "number",
          "description": "평균점수"
        },
        "win_ratio": {
          "type": "number",
          "description": "승률"
        },
        "high_rate": {
          "type": "number",
          "description": "연대율"
        },
        "high_3_rank_ratio": {
          "type": "number",
          "description": "3연대율"
        },
        "avg_strt_tm": {
          "type": "number",
          "description": "평균시작시각"
        },
        "fl_tcnt": {
          "type": "string",
          "description": "FL횟수"
        },
        "mot_avg_rank_scr": {
          "type": "number",
          "description": "모터평균착순점수"
        },
        "mot_high_rank_ratio": {
          "type": "number",
          "description": "모터2연대율"
        },
        "mot_high_3_rank_ratio": {
          "type": "number",
          "description": "모터3연대율"
        },
        "boat_avg_rank_scr": {
          "type": "number",
          "description": "보트평균착순점수"
        },
        "boat_high_rank_ratio": {
          "type": "number",
          "description": "보트연대율"
        },
        "boat_high_3_rank_ratio": {
          "type": "number",
          "description": "보트3연대율"
        },
        "racer_grd_cd": {
          "type": "string",
          "description": "선수등급코드"
        },
        "st_mthd_cd": {
          "type": "string",
          "description": "경주구분코드"
        },
        "day_tcnt": {
          "type": "number",
          "description": "경기회차수"
        },
        "week_tcnt": {
          "type": "number",
          "description": "등록회차수"
        },
        "racer_nm": {
          "type": "string",
          "description": "선수명"
        },
        "racer_age": {
          "type": "number",
          "description": "선수연령"
        },
        "wght": {
          "type": "number",
          "description": "체중량"
        },
        "boat_no": {
          "type": "string",
          "description": "보트번호"
        },
        "motor_no": {
          "type": "string",
          "description": "모터번호"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        },
        "stnd_yr": {
          "type": "string",
          "description": "경기연도"
        }
      }
    },
    "API_VWEB_MBR_RACE_DOC_I-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "API_VWEB_MBR_RACE_DOC_I-body": {
      "type": "object",
      "properties": {
        "items": {
          "$ref": "#/definitions/API_VWEB_MBR_RACE_DOC_I-items"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        }
      }
    },
    "API_VWEB_MBR_RACE_DOC_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_VWEB_MBR_RACE_DOC_I-item"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_OD_API_VWEB_MBR_RACE_DOC/TODZ_API_VWEB_MBR_RACE_DOC_I",
      "oprtinNm": "경정 홈페이지 출주표 정보 서비스",
      "oprtinDc": "조회년도, 경주구분 등의 조회조건을 이용해 서울올림픽기념국민체육진흥공단 경주사업총괄본부에서 진행하는 경정 선수 회차별 성적 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_API_VWEB_MBR_RACE_DOC_I",
      "operationId": "TODZ_API_VWEB_MBR_RACE_DOC_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "경기연도",
          "paramtrBassValue": "2002",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "week_tcnt",
          "paramtrDc": "등록회차수",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "day_tcnt",
          "paramtrDc": "경기회차수",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "organ_stat_cd",
          "paramtrDc": "편성상태",
          "paramtrBassValue": "미확정",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_no",
          "paramtrDc": "경주번호",
          "paramtrBassValue": "01",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_reg_no",
          "paramtrDc": "선수번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_ymd",
          "paramtrDc": "경주일자",
          "paramtrBassValue": "20020618",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_VWEB_MBR_RACE_DOC_I-header",
          "subDefNm": "API_VWEB_MBR_RACE_DOC_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_VWEB_MBR_RACE_DOC_I-body",
          "subDefNm": "API_VWEB_MBR_RACE_DOC_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}