{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경정 선수정보는 경주연도와 선수명을 기준으로 선수의 기수, 등급, 출주횟수, 각 착순별 횟수(1~6착), 평균 착순점, 사고점, 스타트타임, 승률, 연대율, 3연대율 등의 데이터를 제공합니다. 선수정보는 경정경주에서 모터, 보트와 함께 성적을 좌우하는 핵심 요소로, 경기력 분석과 전략 수립에 있어 중요한 기준이 됩니다. 이 데이터를 활용하면 선수의 기량과 안정성을 종합적으로 파악할 수 있어, 예측 및 판단에 유용한 자료로 활용됩니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-선수정보"
  },
  "host": "apis.data.go.kr/B551014/SRVC_VWEB_MBR_RACER_INFO",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_VWEB_MBR_RACER_INFO": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rank1_tcnt": {
                              "type": "string",
                              "description": "1위횟수",
                              "properties": {}
                            },
                            "rank2_tcnt": {
                              "type": "string",
                              "description": "2위횟수",
                              "properties": {}
                            },
                            "rank3_tcnt": {
                              "type": "string",
                              "description": "3위횟수",
                              "properties": {}
                            },
                            "rank4_tcnt": {
                              "type": "string",
                              "description": "4위횟수",
                              "properties": {}
                            },
                            "stnd_yr": {
                              "type": "string",
                              "description": "경기연도",
                              "properties": {}
                            },
                            "racer_nm": {
                              "type": "string",
                              "description": "선수명",
                              "properties": {}
                            },
                            "race_tcnt": {
                              "type": "string",
                              "description": "출주횟수",
                              "properties": {}
                            },
                            "rank5_tcnt": {
                              "type": "string",
                              "description": "5위횟수",
                              "properties": {}
                            },
                            "rank6_tcnt": {
                              "type": "string",
                              "description": "6위횟수",
                              "properties": {}
                            },
                            "avg_rank": {
                              "type": "string",
                              "description": "평균착순위",
                              "properties": {}
                            },
                            "avg_acdnt_scr": {
                              "type": "string",
                              "description": "평균사고점수",
                              "properties": {}
                            },
                            "avg_scr": {
                              "type": "string",
                              "description": "평균점수",
                              "properties": {}
                            },
                            "avg_strt_tm": {
                              "type": "string",
                              "description": "평균시작시각",
                              "properties": {}
                            },
                            "win_ratio": {
                              "type": "string",
                              "description": "승률",
                              "properties": {}
                            },
                            "high_rate": {
                              "type": "string",
                              "description": "연대율",
                              "properties": {}
                            },
                            "high_3_rank_ratio": {
                              "type": "string",
                              "description": "3연대율",
                              "properties": {}
                            },
                            "row_num": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "racer_perio_no": {
                              "type": "string",
                              "description": "기수번호",
                              "properties": {}
                            },
                            "racer_grd_cd": {
                              "type": "string",
                              "description": "선수등급코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정선수정보 목록조회",
        "description": "경정선수정보 목록조회",
        "operationId": "TODZ_VWEB_MBR_RACER_INFO",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_nm",
          "description": "선수명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_perio_no",
          "description": "기수번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "TODZ_VWEB_MBR_RACER_INFO_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "rank1_tcnt": {
                      "type": "string",
                      "description": "1위횟수"
                    },
                    "rank2_tcnt": {
                      "type": "string",
                      "description": "2위횟수"
                    },
                    "rank3_tcnt": {
                      "type": "string",
                      "description": "3위횟수"
                    },
                    "rank4_tcnt": {
                      "type": "string",
                      "description": "4위횟수"
                    },
                    "stnd_yr": {
                      "type": "string",
                      "description": "경기연도"
                    },
                    "racer_nm": {
                      "type": "string",
                      "description": "선수명"
                    },
                    "race_tcnt": {
                      "type": "string",
                      "description": "출주횟수"
                    },
                    "rank5_tcnt": {
                      "type": "string",
                      "description": "5위횟수"
                    },
                    "rank6_tcnt": {
                      "type": "string",
                      "description": "6위횟수"
                    },
                    "avg_rank": {
                      "type": "string",
                      "description": "평균착순위"
                    },
                    "avg_acdnt_scr": {
                      "type": "string",
                      "description": "평균사고점수"
                    },
                    "avg_scr": {
                      "type": "string",
                      "description": "평균점수"
                    },
                    "avg_strt_tm": {
                      "type": "string",
                      "description": "평균시작시각"
                    },
                    "win_ratio": {
                      "type": "string",
                      "description": "승률"
                    },
                    "high_rate": {
                      "type": "string",
                      "description": "연대율"
                    },
                    "high_3_rank_ratio": {
                      "type": "string",
                      "description": "3연대율"
                    },
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    },
                    "racer_perio_no": {
                      "type": "string",
                      "description": "기수번호"
                    },
                    "racer_grd_cd": {
                      "type": "string",
                      "description": "선수등급코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_VWEB_MBR_RACER_INFO/TODZ_VWEB_MBR_RACER_INFO",
      "oprtinNm": "경정선수정보 목록조회",
      "oprtinDc": "경정선수정보 목록조회",
      "gwSvcNm": "TODZ_VWEB_MBR_RACER_INFO",
      "operationId": "TODZ_VWEB_MBR_RACER_INFO",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "경기연도",
          "paramtrBassValue": "2025",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_nm",
          "paramtrDc": "선수명",
          "paramtrBassValue": "이태희",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_perio_no",
          "paramtrDc": "기수번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/MBR_RACER_INFO-header",
          "subDefNm": "MBR_RACER_INFO-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/MBR_RACER_INFO-body",
          "subDefNm": "MBR_RACER_INFO-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/MBR_RACER_INFO-items",
              "subDefNm": "MBR_RACER_INFO-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/MBR_RACER_INFO-item",
                  "subDefNm": "MBR_RACER_INFO-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "rank1_tcnt",
                      "paramtrDc": "1위횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rank2_tcnt",
                      "paramtrDc": "2위횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rank3_tcnt",
                      "paramtrDc": "3위횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rank4_tcnt",
                      "paramtrDc": "4위횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "stnd_yr",
                      "paramtrDc": "경기연도",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_nm",
                      "paramtrDc": "선수명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "race_tcnt",
                      "paramtrDc": "출주횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rank5_tcnt",
                      "paramtrDc": "5위횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rank6_tcnt",
                      "paramtrDc": "6위횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "avg_rank",
                      "paramtrDc": "평균착순위",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "avg_acdnt_scr",
                      "paramtrDc": "평균사고점수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "avg_scr",
                      "paramtrDc": "평균점수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "avg_strt_tm",
                      "paramtrDc": "평균시작시각",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "win_ratio",
                      "paramtrDc": "승률",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "high_rate",
                      "paramtrDc": "연대율",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "high_3_rank_ratio",
                      "paramtrDc": "3연대율",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "row_num",
                      "paramtrDc": "순번",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_perio_no",
                      "paramtrDc": "기수번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_grd_cd",
                      "paramtrDc": "선수등급코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}