{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 선수회차별 성적정보는 회차별로 선수번호, 선수명, 출주횟수, 1~6착 횟수, 평균 착순점, 사고점, 스타트타임, 승률, 연대율, 3연대율 등 다양한 성적 데이터를 제공합니다. 이 정보는 선수의 회차별 경기력 변화와 안정성, 출발 반응 등을 종합적으로 분석할 수 있어 전략 수립과 성적 예측에 유용하게 활용됩니다. 또한 장기간 데이터를 비교 분석하면 선수의 체력 유지 상태와 기량 향상 정도도 파악할 수 있어 코칭과 베팅 전략 수립에 중요한 기초 자료로 활용됩니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-선수 회차별 성적정보_GW"
  },
  "host": "apis.data.go.kr/B551014/SRVC_OD_API_VWEB_MBR_RACER_TMS_INFO",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_VWEB_RACER_TMS_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_VWEB_RACER_TMS_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_VWEB_RACER_TMS_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정 선수 회차별 성적 정보 조회",
        "description": "조회년도, 경주구분 등의 조회조건을 이용해 경주사업총괄본부에서 진행하는 경정 선수 회차별 성적 정보를 조회하는 기능",
        "operationId": "TODZ_API_VWEB_RACER_TMS_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "week_tcnt",
          "description": "등록회차수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_no",
          "description": "선수번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_nm",
          "description": "선수명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_VWEB_RACER_TMS_I-body": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/API_VWEB_RACER_TMS_I-items"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        }
      }
    },
    "API_VWEB_RACER_TMS_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_VWEB_RACER_TMS_I-item"
        }
      }
    },
    "API_VWEB_RACER_TMS_I-item": {
      "type": "object",
      "properties": {
        "stnd_yr": {
          "type": "string",
          "description": "경기연도"
        },
        "racer_no": {
          "type": "string",
          "description": "선수번호"
        },
        "racer_nm": {
          "type": "string",
          "description": "선수명"
        },
        "race_tcnt": {
          "type": "number",
          "description": "출주횟수"
        },
        "rank1_tcnt": {
          "type": "number",
          "description": "1위횟수"
        },
        "rank2_tcnt": {
          "type": "number",
          "description": "2위횟수"
        },
        "rank3_tcnt": {
          "type": "number",
          "description": "3위횟수"
        },
        "rank4_tcnt": {
          "type": "number",
          "description": "4위횟수"
        },
        "rank5_tcnt": {
          "type": "number",
          "description": "5위횟수"
        },
        "rank6_tcnt": {
          "type": "number",
          "description": "6위횟수"
        },
        "avg_rank": {
          "type": "number",
          "description": "평균착순위"
        },
        "avg_acdnt_scr": {
          "type": "number",
          "description": "평균사고점수"
        },
        "avg_scr": {
          "type": "number",
          "description": "평균점수"
        },
        "avg_strt_tm": {
          "type": "number",
          "description": "평균시작시각"
        },
        "win_ratio": {
          "type": "number",
          "description": "승률"
        },
        "high_rate": {
          "type": "number",
          "description": "연대율"
        },
        "high_3_rank_ratio": {
          "type": "number",
          "description": "3연대율"
        },
        "week_tcnt": {
          "type": "number",
          "description": "등록회차수"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        }
      }
    },
    "API_VWEB_RACER_TMS_I-header": {
      "type": "object",
      "properties": {
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        },
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_OD_API_VWEB_MBR_RACER_TMS_INFO/TODZ_API_VWEB_RACER_TMS_I",
      "oprtinNm": "경정 선수 회차별 성적 정보 조회",
      "oprtinDc": "조회년도, 경주구분 등의 조회조건을 이용해 경주사업총괄본부에서 진행하는 경정 선수 회차별 성적 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_API_VWEB_RACER_TMS_I",
      "operationId": "TODZ_API_VWEB_RACER_TMS_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "경기연도",
          "paramtrBassValue": "2002",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "week_tcnt",
          "paramtrDc": "등록회차수",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_no",
          "paramtrDc": "선수번호",
          "paramtrBassValue": "01-001",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_nm",
          "paramtrDc": "선수명",
          "paramtrBassValue": "강지환",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_VWEB_RACER_TMS_I-header",
          "subDefNm": "API_VWEB_RACER_TMS_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_VWEB_RACER_TMS_I-body",
          "subDefNm": "API_VWEB_RACER_TMS_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}