{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경정보트정보는 경주별 보트번호, 출주횟수, 1착, 2착, 3착 횟수, 평균착순점, 최고타임 등 다양한 데이터를 포함합니다. 경정보트는 국산제품으로 고강도, 경량화를 통해 박진감 있고 흥미로운 경주를 위해 최적화하였습니다. 보트는 선수와 모터와 함께 경기 성적에 큰 영향을 미치는 핵심 요소로, 각 보트의 성능과 기록을 분석하는 데 중요한 자료로 활용됩니다. 이 정보는 선수와 관계자들이 전략을 세우고, 팬들이 경주를 이해하는 데 도움을 주는 신뢰할 만한 데이터로 제공됩니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-보트정보_GW"
  },
  "host": "apis.data.go.kr/B551014/SRVC_OD_API_VWEB_MBR_BOAT_INFO",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/todz_api_vweb_mbr_boat_i": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/api_vweb_mbr_boat_i-header"
                },
                "body": {
                  "$ref": "#/definitions/api_vweb_mbr_boat_i-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정보트정보 목록조회",
        "description": "경정보트정보",
        "operationId": "todz_api_vweb_mbr_boat_i",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "boat_no",
          "description": "보트번호",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "api_vweb_mbr_boat_i-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "api_vweb_mbr_boat_i-body": {
      "type": "object",
      "properties": {
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/api_vweb_mbr_boat_i-items"
        }
      }
    },
    "api_vweb_mbr_boat_i-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/api_vweb_mbr_boat_i-item"
        }
      }
    },
    "api_vweb_mbr_boat_i-item": {
      "type": "object",
      "properties": {
        "stnd_yr": {
          "type": "string",
          "description": "경기연도"
        },
        "boat_no": {
          "type": "string",
          "description": "보트번호"
        },
        "race_tcnt": {
          "type": "number",
          "description": "출주횟수"
        },
        "rank1_tcnt": {
          "type": "number",
          "description": "1위횟수"
        },
        "rank2_tcnt": {
          "type": "number",
          "description": "2위횟수"
        },
        "rank3_tcnt": {
          "type": "number",
          "description": "3위횟수"
        },
        "avg_rank": {
          "type": "number",
          "description": "평균착순위"
        },
        "high_rate": {
          "type": "number",
          "description": "연대율"
        },
        "min_itrdt_run_tm": {
          "type": "string",
          "description": "최고항주시각"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_OD_API_VWEB_MBR_BOAT_INFO/todz_api_vweb_mbr_boat_i",
      "oprtinNm": "경정보트정보 목록조회",
      "oprtinDc": "경정보트정보",
      "gwSvcNm": "todz_api_vweb_mbr_boat_i",
      "operationId": "todz_api_vweb_mbr_boat_i",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "경기연도",
          "paramtrBassValue": "2015",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "boat_no",
          "paramtrDc": "보트번호",
          "paramtrBassValue": "B2014110",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/api_vweb_mbr_boat_i-header",
          "subDefNm": "api_vweb_mbr_boat_i-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/api_vweb_mbr_boat_i-body",
          "subDefNm": "api_vweb_mbr_boat_i-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}