{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경정 출주표는 예정된 경주에 출전하는 선수와 장비에 대한 다양한 정보를 사전에 확인할 수 있는 공공데이터입니다. 선수명, 기수, 등급, 나이, 성별, 체중 등 기본 정보와 함께 최근 6회차 성적, 8경주의 착순 결과, 연간 성적, 평균 사고점, 금일 출주 경주, 전일 성적 등의 세부 데이터를 포함하고 있습니다. 또한 모터와 보트의 착순점, 연대율과 같은 장비 성능 지표도 함께 제공되어, 경기 흐름 분석과 전략 수립에 효과적으로 활용할 수 있습니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-출주표_GW"
  },
  "host": "apis.data.go.kr/B551014/SRVC_OD_API_VWEB_MBR_RACE_INFO",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_VWEB_MBR_RACE_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_VWEB_MBR_RACE_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_VWEB_MBR_RACE_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정 출주표 목록",
        "description": "경정 출주표 목록",
        "operationId": "TODZ_API_VWEB_MBR_RACE_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "week_tcnt",
          "description": "주횟수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "day_tcnt",
          "description": "일횟수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_no",
          "description": "경주번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_VWEB_MBR_RACE_I-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "API_VWEB_MBR_RACE_I-body": {
      "type": "object",
      "properties": {
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/API_VWEB_MBR_RACE_I-items"
        }
      }
    },
    "API_VWEB_MBR_RACE_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_VWEB_MBR_RACE_I-item"
        }
      }
    },
    "API_VWEB_MBR_RACE_I-item": {
      "type": "object",
      "properties": {
        "stnd_yr": {
          "type": "string",
          "description": "경기연도"
        },
        "race_no": {
          "type": "string",
          "description": "경주번호"
        },
        "rmk2_rank": {
          "type": "string",
          "description": "경주순위"
        },
        "dptre_tm": {
          "type": "string",
          "description": "출발시각"
        },
        "race_reg_no": {
          "type": "string",
          "description": "선수번호"
        },
        "racer_grd_cd": {
          "type": "string",
          "description": "선수등급코드"
        },
        "color_nm": {
          "type": "string",
          "description": "색상명"
        },
        "racer_nm": {
          "type": "string",
          "description": "선수명"
        },
        "sex_cd": {
          "type": "string",
          "description": "성별코드"
        },
        "racer_age": {
          "type": "string",
          "description": "선수연령"
        },
        "wght": {
          "type": "string",
          "description": "체중량"
        },
        "tms_6_avg_rank_scr": {
          "type": "string",
          "description": "최근6회차성적평균착순점수"
        },
        "tms_6_avg_scr": {
          "type": "string",
          "description": "최근6회차성적평균득점점수"
        },
        "tms_6_win_ratio": {
          "type": "string",
          "description": "최근6회차성적승률"
        },
        "thdd_race_no": {
          "type": "string",
          "description": "금일출주경주번호"
        },
        "bf_dd_recd_scr": {
          "type": "string",
          "description": "전일성적점수"
        },
        "mm_6_race_tcnt": {
          "type": "string",
          "description": "6개월출주횟수"
        },
        "mm_6_1_race_high_rank_ratio": {
          "type": "string",
          "description": "6개월출주수1코스연대율"
        },
        "mm_6_2_race_high_rank_ratio": {
          "type": "string",
          "description": "6개월출주수2코스연대율"
        },
        "mm_6_3_race_high_rank_ratio": {
          "type": "string",
          "description": "6개월출주수3코스연대율"
        },
        "mm_6_4_race_high_rank_ratio": {
          "type": "string",
          "description": "6개월출주수4코스연대율"
        },
        "mm_6_5_race_high_rank_ratio": {
          "type": "string",
          "description": "6개월출주수5코스연대율"
        },
        "mm_6_6_race_high_rank_ratio": {
          "type": "string",
          "description": "6개월출주수6코스연대율"
        },
        "avg_rank": {
          "type": "string",
          "description": "평균착순위"
        },
        "high_rate": {
          "type": "string",
          "description": "연대율"
        },
        "motor_no": {
          "type": "string",
          "description": "모터번호"
        },
        "mot_avg_rank_scr": {
          "type": "string",
          "description": "모터평균착순점수"
        },
        "mot_high_rank_ratio": {
          "type": "string",
          "description": "모터2연대율"
        },
        "mot_high_3_rank_ratio": {
          "type": "string",
          "description": "모터3연대율"
        },
        "mot_bf_racer_1_no": {
          "type": "string",
          "description": "전탑승선수착순번호"
        },
        "boat_no": {
          "type": "string",
          "description": "보트번호"
        },
        "boat_avg_rank_scr": {
          "type": "string",
          "description": "보트평균착순점수"
        },
        "boat_high_rank_ratio": {
          "type": "string",
          "description": "보트연대율"
        },
        "day_tcnt": {
          "type": "string",
          "description": "일횟수"
        },
        "week_tcnt": {
          "type": "string",
          "description": "주횟수"
        },
        "tms_8_rank_ord_no": {
          "type": "string",
          "description": "최근8경주착순서번호"
        },
        "fl_tcnt": {
          "type": "string",
          "description": "FL횟수"
        },
        "avg_acdnt_scr": {
          "type": "string",
          "description": "평균사고점수"
        },
        "tms_6_high_rank_ratio": {
          "type": "string",
          "description": "최근6회차성적2연대율"
        },
        "tms_6_high_3_rank_ratio": {
          "type": "string",
          "description": "최근6회차성적3연대율"
        },
        "tms_6_avg_strt_tm": {
          "type": "string",
          "description": "최근6회차성적평균ST시각"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        },
        "st_mthd_cd": {
          "type": "string",
          "description": "경주구분코드"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_OD_API_VWEB_MBR_RACE_INFO/TODZ_API_VWEB_MBR_RACE_I",
      "oprtinNm": "경정 출주표 목록",
      "oprtinDc": "경정 출주표 목록",
      "gwSvcNm": "TODZ_API_VWEB_MBR_RACE_I",
      "operationId": "TODZ_API_VWEB_MBR_RACE_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "경기연도",
          "paramtrBassValue": "2015",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "week_tcnt",
          "paramtrDc": "주횟수",
          "paramtrBassValue": "39",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "day_tcnt",
          "paramtrDc": "일횟수",
          "paramtrBassValue": "2",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_no",
          "paramtrDc": "경주번호",
          "paramtrBassValue": "15",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_VWEB_MBR_RACE_I-header",
          "subDefNm": "API_VWEB_MBR_RACE_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_VWEB_MBR_RACE_I-body",
          "subDefNm": "API_VWEB_MBR_RACE_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}