{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경정선수 다승순위 정보는 조회기간별로 선수들의 순위, 승수, 선수번호, 선수명 등의 데이터를 제공합니다. 다승순위가 높은 선수는 다수의 우승 경험을 보유하고 있어 경기에서 높은 경쟁력을 가진다고 평가할 수 있습니다. 이 정보는 선수들의 실적을 객관적으로 파악하는 데 도움이 되며, 경기 예측과 전략 수립에 중요한 기초 자료로 활용됩니다. 또한, 팬과 관계자들이 선수의 현재 기량과 상승세를 분석하는 데도 유용한 데이터입니다. 경기 흐름과 선수 성과를 종합적으로 이해하는 데 필수적인 정보로 자리 잡고 있습니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-경정선수 다승순위"
  },
  "host": "apis.data.go.kr/B551014/SRVC_TODZ_API_MRA_RACER_WIN_RANK_I",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_MRA_RACER_WIN_RANK_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_MRA_RACER_WIN_RANK_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_MRA_RACER_WIN_RANK_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정선수 다승순위 조회",
        "description": "순위, 연도, 선수명 조회조건을 이용해 경정선수 다승순위 정보를 조회하는 기능",
        "operationId": "TODZ_API_MRA_RACER_WIN_RANK_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "racer_rank",
          "description": "순위",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "연도",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_nm",
          "description": "선수명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_MRA_RACER_WIN_RANK_I-item": {
      "type": "object",
      "properties": {
        "high3_rate": {
          "type": "number",
          "description": "삼연대율"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        },
        "racer_rank": {
          "type": "number",
          "description": "순위"
        },
        "stnd_yr": {
          "type": "number",
          "description": "연도"
        },
        "racer_nm": {
          "type": "string",
          "description": "선수명"
        },
        "rank3_tcnt": {
          "type": "number",
          "description": "3착횟수"
        },
        "win_rate": {
          "type": "number",
          "description": "승률"
        },
        "high_rate": {
          "type": "number",
          "description": "연대율"
        },
        "race_tcnt": {
          "type": "number",
          "description": "출주횟수"
        },
        "racer_grd_cd": {
          "type": "string",
          "description": "등급"
        },
        "rank1_tcnt": {
          "type": "number",
          "description": "1착횟수"
        },
        "rank2_tcnt": {
          "type": "number",
          "description": "2착횟수"
        }
      }
    },
    "API_MRA_RACER_WIN_RANK_I-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "API_MRA_RACER_WIN_RANK_I-body": {
      "type": "object",
      "properties": {
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/API_MRA_RACER_WIN_RANK_I-items"
        }
      }
    },
    "API_MRA_RACER_WIN_RANK_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_MRA_RACER_WIN_RANK_I-item"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_TODZ_API_MRA_RACER_WIN_RANK_I/TODZ_API_MRA_RACER_WIN_RANK_I",
      "oprtinNm": "경정선수 다승순위 조회",
      "oprtinDc": "순위, 연도, 선수명 조회조건을 이용해 경정선수 다승순위 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_API_MRA_RACER_WIN_RANK_I",
      "operationId": "TODZ_API_MRA_RACER_WIN_RANK_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "racer_rank",
          "paramtrDc": "순위",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "연도",
          "paramtrBassValue": "2022",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_nm",
          "paramtrDc": "선수명",
          "paramtrBassValue": "김종민",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_MRA_RACER_WIN_RANK_I-header",
          "subDefNm": "API_MRA_RACER_WIN_RANK_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_MRA_RACER_WIN_RANK_I-body",
          "subDefNm": "API_MRA_RACER_WIN_RANK_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}