{
  "swagger": "2.0",
  "info": {
    "description": "연도, 경주종류명칭등의 조회 기능을 이용해 서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 지급하는 경정 상금지급기준 정보를 확인 할 수 있습니다. 경정 선수는 매 경기마다 순위에 따라 상금을 지급받으며 경기의 등급과 경기 규모에 따라 상금의 지급액이 달라집니다. 경기의 상금 규모는 일반경주와 대상경주, 특선경주에 따라 다르며 등급과 순위에 따라 상금 지급액이 결정됩니다. 경정상금에 대한 자세한 정보는 경정홈페이지(www.kboat.or.kr)에서도 확인 가능합니다. \\n",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-상금지급기준 정보"
  },
  "host": "apis.data.go.kr/B551014/SRVC_TODZ_VW_API_MRA_PRIZ_STND_I",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_MRA_PRIZ_STND_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_MRA_PRIZ_STND_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_MRA_PRIZ_STND_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정 상금지급기준 조회",
        "description": "연도, 경주종류명 조회조건을 이용해 경정 상금지급기준 정보를 조회하는 기능",
        "operationId": "TODZ_API_MRA_PRIZ_STND_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "연도",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_kind_nm",
          "description": "경주종류명칭",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_MRA_PRIZ_STND_I-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "API_MRA_PRIZ_STND_I-body": {
      "type": "object",
      "properties": {
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/API_MRA_PRIZ_STND_I-items"
        }
      }
    },
    "API_MRA_PRIZ_STND_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_MRA_PRIZ_STND_I-item"
        }
      }
    },
    "API_MRA_PRIZ_STND_I-item": {
      "type": "object",
      "properties": {
        "stnd_yr": {
          "type": "number",
          "description": "연도"
        },
        "race_kind_nm ": {
          "type": "string",
          "description": "경주종류명칭"
        },
        "race_dgre_nm ": {
          "type": "string",
          "description": "경주등급명칭"
        },
        "rank1_amt ": {
          "type": "string",
          "description": "1순위 상금"
        },
        "rank2_amt ": {
          "type": "string",
          "description": "2순위 상금"
        },
        "rank3_amt ": {
          "type": "number",
          "description": "3순위 상금"
        },
        "rank4_amt ": {
          "type": "number",
          "description": "4순위 상금"
        },
        "rank5_amt ": {
          "type": "number",
          "description": "5순위 상금"
        },
        "rank6_amt ": {
          "type": "number",
          "description": "6순위 상금"
        },
        "rank7_amt ": {
          "type": "number",
          "description": "7순위 상금"
        },
        "rank8_amt ": {
          "type": "number",
          "description": "8순위 상금"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_TODZ_VW_API_MRA_PRIZ_STND_I/TODZ_API_MRA_PRIZ_STND_I",
      "oprtinNm": "경정 상금지급기준 조회",
      "oprtinDc": "연도, 경주종류명 조회조건을 이용해 경정 상금지급기준 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_API_MRA_PRIZ_STND_I",
      "operationId": "TODZ_API_MRA_PRIZ_STND_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "연도",
          "paramtrBassValue": "10",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_kind_nm",
          "paramtrDc": "경주종류명칭",
          "paramtrBassValue": "일반경정",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_MRA_PRIZ_STND_I-header",
          "subDefNm": "API_MRA_PRIZ_STND_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_MRA_PRIZ_STND_I-body",
          "subDefNm": "API_MRA_PRIZ_STND_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}