{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경정경주결과는 경주시행년도, 회차, 일차, 경주번호, 1~3위 선수 정보와 승식별 배당 정보를 포함합니다. 경정 승식은 총 7종으로 단승식, 연승식, 쌍승식, 복승식, 삼복승식, 쌍복승식, 삼쌍승식이 있습니다. 단승식은 1위 선수를 맞추는 방식이며, 복승식은 1,2위 선수 2명을 순위에 상관없이 맞추는 방식입니다. 쌍복승식은 1위 선수와 23위 선수 2명을 순위에 상관없이 맞추는 방식입니다. 승식이 복잡할수록 배당금이 높아질 가능성이 큽니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-경주결과_GW"
  },
  "host": "apis.data.go.kr/B551014/SRVC_OD_API_MBR_RACE_RESULT",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_MBR_RACE_RESULT_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_MBR_RACE_RESULT_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_MBR_RACE_RESULT_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정경주결과 목록조회",
        "description": "경정경주결과 목록조회",
        "operationId": "TODZ_API_MBR_RACE_RESULT_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "경기연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "day_tcnt",
          "description": "등록회차수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "week_tcnt",
          "description": "경기회차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "race_no",
          "description": "경주번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_MBR_RACE_RESULT_I-body": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/API_MBR_RACE_RESULT_I-items"
        }
      }
    },
    "API_MBR_RACE_RESULT_I-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "API_MBR_RACE_RESULT_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_MBR_RACE_RESULT_I-item"
        }
      }
    },
    "API_MBR_RACE_RESULT_I-item": {
      "type": "object",
      "properties": {
        "stnd_yr": {
          "type": "string",
          "description": "경기연도"
        },
        "race_no": {
          "type": "string",
          "description": "경주번호"
        },
        "rank1": {
          "type": "string",
          "description": "1순위"
        },
        "rank2": {
          "type": "string",
          "description": "2순위"
        },
        "rank3": {
          "type": "string",
          "description": "3순위"
        },
        "pool1_val": {
          "type": "string",
          "description": "단승식값"
        },
        "pool2_val": {
          "type": "string",
          "description": "연승식1값"
        },
        "pool3_val": {
          "type": "string",
          "description": "연승식3값"
        },
        "pool4_val": {
          "type": "string",
          "description": "쌍승식값"
        },
        "pool5_val": {
          "type": "string",
          "description": "복승식값"
        },
        "pool6_val": {
          "type": "string",
          "description": "삼복승식값"
        },
        "week_tcnt": {
          "type": "number",
          "description": "등록회차수"
        },
        "day_tcnt": {
          "type": "string",
          "description": "경기회차수"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_OD_API_MBR_RACE_RESULT/TODZ_API_MBR_RACE_RESULT_I",
      "oprtinNm": "경정경주결과 목록조회",
      "oprtinDc": "경정경주결과 목록조회",
      "gwSvcNm": "TODZ_API_MBR_RACE_RESULT_I",
      "operationId": "TODZ_API_MBR_RACE_RESULT_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "경기연도",
          "paramtrBassValue": "2015",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "day_tcnt",
          "paramtrDc": "등록회차수",
          "paramtrBassValue": "39",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "week_tcnt",
          "paramtrDc": "경기회차수",
          "paramtrBassValue": "2",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "race_no",
          "paramtrDc": "경주번호",
          "paramtrBassValue": "15",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_MBR_RACE_RESULT_I-header",
          "subDefNm": "API_MBR_RACE_RESULT_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_MBR_RACE_RESULT_I-body",
          "subDefNm": "API_MBR_RACE_RESULT_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}