{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념 국민체육진흥공단 경륜경정총괄본부에서 제작하여 경정방송을 통해 송출된 경정뉴스 영상정보를 제공하는 데이터 서비스입니다. 이 서비스는 뉴스 콘텐츠의 제목, 비디오 URL, 작성일시, 수정일시 등 메타데이터를 포함하고 있으며, 경정 관련 뉴스 영상을 온라인에서 확인하고 활용할 수 있도록 구성되어 있습니다. 해당 데이터는 팬층 확대를 위한 홍보 자료로 활용되거나, 미디어 콘텐츠 아카이브 및 뉴스 큐레이션 자료로도 유용하게 사용됩니다. 공공데이터 API 또는 메타데이터 방식으로 연동 가능하며, 스포츠 정보의 개방성과 접근성을 높이는 데 기여하고 있습니다.\\n",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-뉴스영상 정보_GW"
  },
  "host": "apis.data.go.kr/B551014/SRVC_OD_API_WEB_BOAT_NEWS",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_API_MRA_BOAT_NEWS_I": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다.."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/API_MRA_BOAT_NEWS_I-header"
                },
                "body": {
                  "$ref": "#/definitions/API_MRA_BOAT_NEWS_I-body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정뉴스 방송영상정보 조회",
        "description": "경정뉴스제목을 이용해 기금조성총괄본부에서 제작하여 경정방송으로 송출된 경정뉴스 영상을 조회하는 기능",
        "operationId": "TODZ_API_MRA_BOAT_NEWS_I",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "title_nm",
          "description": "제목명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "API_MRA_BOAT_NEWS_I-header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "API_MRA_BOAT_NEWS_I-body": {
      "type": "object",
      "properties": {
        "pageNo": {
          "type": "string",
          "description": "페이지번호"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과 수"
        },
        "numOfRows": {
          "type": "string",
          "description": "한 페이지 결과 수"
        },
        "items": {
          "$ref": "#/definitions/API_MRA_BOAT_NEWS_I-items"
        }
      }
    },
    "API_MRA_BOAT_NEWS_I-items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/API_MRA_BOAT_NEWS_I-item"
        }
      }
    },
    "API_MRA_BOAT_NEWS_I-item": {
      "type": "object",
      "properties": {
        "title_nm": {
          "type": "string",
          "description": "제목명"
        },
        "video_url": {
          "type": "string",
          "description": "비디오URL"
        },
        "created_dt": {
          "type": "string",
          "description": "생성일시"
        },
        "updt_dt": {
          "type": "string",
          "description": "수정일시"
        },
        "row_num": {
          "type": "string",
          "description": "순번"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_OD_API_WEB_BOAT_NEWS/TODZ_API_MRA_BOAT_NEWS_I",
      "oprtinNm": "경정뉴스 방송영상정보 조회",
      "oprtinDc": "경정뉴스제목을 이용해 기금조성총괄본부에서 제작하여 경정방송으로 송출된 경정뉴스 영상을 조회하는 기능",
      "gwSvcNm": "TODZ_API_MRA_BOAT_NEWS_I",
      "operationId": "TODZ_API_MRA_BOAT_NEWS_I",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "title_nm",
          "paramtrDc": "제목명",
          "paramtrBassValue": "2020년 경정 뉴스 4편",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/API_MRA_BOAT_NEWS_I-header",
          "subDefNm": "API_MRA_BOAT_NEWS_I-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/API_MRA_BOAT_NEWS_I-body",
          "subDefNm": "API_MRA_BOAT_NEWS_I-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}