{
  "swagger": "2.0",
  "info": {
    "description": "서울올림픽기념국민체육진흥공단 경륜경정총괄본부에서 제공하는 경정선수 상대전적 정보는 각 선수별로 상대 선수와의 대결에서 기록한 승리 횟수, 패배 횟수, 무승부 횟수, 총 대전 횟수 등의 데이터를 포함합니다. 이 정보는 선수 간 맞대결 성적을 객관적으로 비교할 수 있게 하여, 경기 결과 예측과 우승자 추리에 효과적으로 활용됩니다. 상대전적 분석은 선수 간 경기력 차이나 상성 등을 파악하는 데 중요한 자료가 되며, 이를 기반으로 베팅 전략이나 경기 분석에 깊이를 더할 수 있습니다. 경정 팬과 관계자 모두에게 유용한 참고 자료로 제공됩니다.",
    "version": "1.0.0",
    "title": "서울올림픽기념국민체육진흥공단_경주사업총괄본부 경정-선수 상대전적 정보"
  },
  "host": "apis.data.go.kr/B551014/SRVC_MRA_RACER_RECORD",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/TODZ_MRA_RACER_RECORD": {
      "get": {
        "responses": {
          "0": {
            "description": "NORMAL SERVICE / 정상 수행 입니다."
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR / 잘못된 요청 파라메터 에러"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "row_num": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "stnd_yr": {
                              "type": "string",
                              "description": "기준연도",
                              "properties": {}
                            },
                            "meet_nm": {
                              "type": "string",
                              "description": "경정장명",
                              "properties": {}
                            },
                            "racer_nm1": {
                              "type": "string",
                              "description": "선수명",
                              "properties": {}
                            },
                            "racer_nm2": {
                              "type": "string",
                              "description": "상대선수명",
                              "properties": {}
                            },
                            "win": {
                              "type": "string",
                              "description": "승리횟수",
                              "properties": {}
                            },
                            "lose": {
                              "type": "string",
                              "description": "패배횟수",
                              "properties": {}
                            },
                            "tie": {
                              "type": "string",
                              "description": "무승부횟수",
                              "properties": {}
                            },
                            "tot": {
                              "type": "string",
                              "description": "대전횟수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "301": {
            "description": "INVALID REQUEST RESULT TYPE / 잘못된 결과형태 요청"
          },
          "334": {
            "description": "START PAGE NUMBER GREATER THAN LAST PAGE NUMBER / 시작 페이지 숫자가 끝 페이지 숫자보다 큼"
          },
          "336": {
            "description": "CANNOT REQUEST MORE THAN 1000 DATA AT A TIME / 한번에 1000건 이상의 요청은 할 수 없음"
          },
          "340": {
            "description": "NO MANDATORY REQUEST PARAMETERS ERROR / 필수 요청 파라미터가 입력되지 않거나 부적절한 값이 입력되었음"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR / 내부 서버 오류"
          },
          "601": {
            "description": "INVALID_OPEN_API_OPERATION_ERROR / 잘못된 오픈 API 작동 오류"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경정 선수 상대전적 정보 조회",
        "description": "연도, 선수명 조회조건을 이용하여 선수 상대전적 정보를 조회하는 기능",
        "operationId": "TODZ_MRA_RACER_RECORD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "결과형식",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stnd_yr",
          "description": "기준연도",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "racer_nm1",
          "description": "선수명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "TODZ_MRA_RACER_RECORD_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "row_num": {
                      "type": "string",
                      "description": "순번"
                    },
                    "stnd_yr": {
                      "type": "string",
                      "description": "기준연도"
                    },
                    "meet_nm": {
                      "type": "string",
                      "description": "경정장명"
                    },
                    "racer_nm1": {
                      "type": "string",
                      "description": "선수명"
                    },
                    "racer_nm2": {
                      "type": "string",
                      "description": "상대선수명"
                    },
                    "win": {
                      "type": "string",
                      "description": "승리횟수"
                    },
                    "lose": {
                      "type": "string",
                      "description": "패배횟수"
                    },
                    "tie": {
                      "type": "string",
                      "description": "무승부횟수"
                    },
                    "tot": {
                      "type": "string",
                      "description": "대전횟수"
                    }
                  }
                }
              }
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://openapi.kspo.or.kr/web/service/SRVC_MRA_RACER_RECORD/TODZ_MRA_RACER_RECORD",
      "oprtinNm": "경정 선수 상대전적 정보 조회",
      "oprtinDc": "연도, 선수명 조회조건을 이용하여 선수 상대전적 정보를 조회하는 기능",
      "gwSvcNm": "TODZ_MRA_RACER_RECORD",
      "operationId": "TODZ_MRA_RACER_RECORD",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "결과형식",
          "paramtrBassValue": "XML",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stnd_yr",
          "paramtrDc": "기준연도",
          "paramtrBassValue": "2023",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "racer_nm1",
          "paramtrDc": "선수명",
          "paramtrBassValue": "강지환",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/MRA_RACER_RECORD-header",
          "subDefNm": "MRA_RACER_RECORD-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/MRA_RACER_RECORD-body",
          "subDefNm": "MRA_RACER_RECORD-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/MRA_RACER_RECORD-items",
              "subDefNm": "MRA_RACER_RECORD-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/MRA_RACER_RECORD-item",
                  "subDefNm": "MRA_RACER_RECORD-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "row_num",
                      "paramtrDc": "순번",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "stnd_yr",
                      "paramtrDc": "기준연도",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "meet_nm",
                      "paramtrDc": "경정장명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_nm1",
                      "paramtrDc": "선수명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "racer_nm2",
                      "paramtrDc": "상대선수명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "win",
                      "paramtrDc": "승리횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "lose",
                      "paramtrDc": "패배횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "tie",
                      "paramtrDc": "무승부횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "tot",
                      "paramtrDc": "대전횟수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ],
      "oprtinNo": 1
    }
  ]
}